@()(implicit request: RequestHeader)

@import helper._

@template("DeckInfo", Seq("deck.js"), Seq("https://cdn.jsdelivr.net/npm/chart.js@2.8.0")) {
    <div class="container-fluid">
        <h1>Load your deck</h1>

        <!-- Deck loading bar -->
        <div class="row">
            <div class="input-group col">
                <div class="mb-3 input-group-prepend">
                    <button id="upload_btn"
                            type="button"
                            class="btn btn-primary">
                        Upload
                    </button>
                </div>

                <input type="text"
                       class="form-control"
                       readonly
                       placeholder="Deck file"
                       aria-described-by="upload_btn">

                <label class="input-group-append mb-3">
                    <span class="btn btn-secondary">
                        Browse
                        <form id="deckForm" enctype="multipart/form-data">
                            @CSRF.formField
                            <input type="file" name="deck" id="deck" style="display:none" />
                        </form>
                    </span>
                </label>
            </div>
        </div>

        <!-- Deck Info -->
        <div id="deckinfo" class="card">
            <div class="card-body" >
                <div class="row" id="averages">
                    <div class="col-12 col-md-6">
                        <div class="input-group" >
                            <div class="input-group-prepend">
                                <span class="input-group-text">Avg CMC</span>
                                <div id="response"></div>
                            </div>
                            <input type="text" class="form-control" id="avgCMC" readonly>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="input-group" >
                            <div class="input-group-prepend">
                                <span class="input-group-text">Avg CMC NonLands</span>
                                <div id="response"></div>
                            </div>
                            <input type="text" class="form-control" id="avgCMCNonLands" readonly>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6 mt-3">
                        <canvas id="manaCurve"></canvas>
                    </div>
                    <div class="col-sm-12 col-md-6 mt-3">
                        <canvas id="counts"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="alert alert-warning" id="myalerts" role="alert"></div>
    </div>

    <script type="text/javascript">
     // This code will attach `fileselect` event to all file inputs on the page
     $(document).on('change', ':file', function() {
         var input = $(this),
             numFiles = input.get(0).files ? input.get(0).files.length : 1,
             label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
         input.trigger('fileselect', [numFiles, label]);
     });

     $(document).ready(function() {
         $('#upload_btn').click(loadDeck);

         // Handle file select event
         $(':file').on('fileselect', function(event, numFiles, label) {
             var input = $(this).parents('.input-group').find(':text'),
                 log = numFiles > 1 ? numFiles + ' files selected' : label;

             if ( input.length ) {
                 input.val(log);
             }
             else {
                 if( log ) alert(log);
             }

         });

         $('#myalerts').hide();
         hideAll();
     });
    </script>
}
